.chatizo-input-cmd-btnlist{
  max-height: 120px;
  height: fit-content;
  border-radius: 5px 5px 0 0;
  width: 99%;
  overflow-y: auto;
  padding: 2px 0;
  background: var(--gambotblue);
}

.chatizo-input-cmd-btn{
  padding: 4px;
  margin: 1px;
  border-radius: 3px;
  background: white;
  width: 98%;
  cursor: pointer;
}

.chatizo-input-cmd-btn:hover{
  background: var(--gambotblue);
}

.chatizo-input-cmd-text:hover{
  color: white;
}

.chatizo-input-cmd-text{
  width: fit-content !important;
  color: var(--gambotblue);
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.chatizo-input-cmd-desc{
  flex-wrap: nowrap !important;
  font-size: x-small !important;;
}