.chatizo-msg-system{
  margin: 1;
  padding: 3px 15px;
  background: rgba(220, 220, 220, 1);
  text-align: center;
  border-radius: 5px;
  font-size: xx-small;
}

.chatizo-msg-text-main{
  margin: 2px 0;
}

.chatizo-msg-text-readmore{
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
  color: rgb(67, 169, 223);
}

.chatizo-msg-text-box{

}

.chatizo-msg-text-show{

}

.chatizo-msg-text-hide{

}

.chatizo-typing{
  display: flex;
  flex-direction: row;
}

.chatizo-typing-circles{
  width: 0.5em;
  height: 0.5em;
  margin: 2px;
  border-radius: 90px;
  background-color: rgb(0, 0, 0, 0.7);
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.chatizo-typing-circles:nth-child(0){
  animation-delay: 0s
}

.chatizo-typing-circles:nth-child(1){
  animation-delay: 0.5s
}

.chatizo-typing-circles:nth-child(2){
  animation-delay: 1s
}

@keyframes loading {
  from {background: rgb(0, 0, 0, 0.7)}
  to {background: rgb(0, 0, 0, 0.2)}
}

.zchat.msg-btnlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatizo-msg-btn{
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(200, 123, 30) 0%, rgb(125, 60, 10) 75.75%, rgb(125, 60, 10) 100%) !important;
  padding: 1px;
  margin: 2px 0;
}

.chatizo-msg-btn.fitcontent{
  width: fit-content;
} 

.chatizo-msg-btn.disabled{
  opacity: 0.5;
}

.chatizo-msg-btn-text,
.chatizo-msg-btn-text.disabled:hover{
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  color:rgb(200, 123, 30);
  font-weight: bold;
  background: white !important;
  border-radius: 5px;
}

.chatizo-msg-btn-text:hover {
  color: white;
  background: linear-gradient(90deg, rgb(200, 123, 30) 0%, rgb(125, 60, 10) 75.75%, rgb(125, 60, 10) 100%) !important;
}

.chatizo-msg-image{
  width: 100%;
  margin: 2px 0;
  min-width: 50vw;
}

.chatizo-msg-image img{
  width: 100%;
  height: 100%;
}

.chatizo-msg-video{
  width: 100%;
  margin: 2px 0;
  min-width: 60vw;
}

.chatizo-msg-imgbtnlist{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.chatizo-msg-imgbtn{
  width: 22%;
  margin: 5px 10px;
  cursor: pointer;
}

.chatizo-msg-imgbtn.disabled{
  opacity: 0.5;
}

.chatizo-msg-imgbtn-img img{
  width: 100%;
}
