.chatizo-input-ac-btnlist{
  max-height: 150px;
  height: fit-content;
  border-radius: 5px 5px 0 0;
  width: 99%;
  overflow-y: auto;
  padding: 2px 0;
  background: var(--gambotblue);
}

.chatizo-input-ac-btn{
  padding: 4px;
  margin: 1px;
  border-radius: 3px;
  background: white;
  width: 98%;
  cursor: pointer;
}

.chatizo-input-ac-btn:hover{
  background: var(--gambotblue);
}

.chatizo-input-ac-text:hover{
  color: white;
}

.chatizo-input-ac-text{
  color: var(--gambotblue);
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}